/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  body {
    background-color: rgb(79, 117, 120);
  }
  
  .minor-section {
      padding: 10px;
      margin-bottom: 10px;
      border: solid 1px #2b3f45;
      background-color: #a8a7a3;
    }
    
    .screenshot-photo {
      max-width: 700px;
      display: block;
    margin-left: auto;
    margin-right: auto;
    }
  
    h1 {
      letter-spacing: 5px;
      word-spacing: 5px;
      font-size: 200%;
      color:#1d2d2d;
      text-align: center;
    }
    
    h2 {
      color: #393534;
    }
    
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:rgb(90, 77, 59);
    }
    .pseudocoding-photo {
      max-width: 700px;
      display: block;
    margin-left: auto;
    margin-right: auto;
    }