/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: rgb(155, 122, 145);
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: 'Courier New', Courier, monospace;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  color:#ffffff;
  text-align: center;
}

h2 {
  color: #ffffff;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(255, 255, 255);
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #3b0320;
  background-color: #8a4f72;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ffffff;
  background-color: #d4b6c4;
}

body {
  font-family: Arial, sans-serif; 
}
#links ul li a {
  color: #ffffff;
}
#links ul li:before {
  content: "\2022"; /* Use a bullet point character */
  color: #ffffff; /* Set bullet point color */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}