body {
    background-color: rgb(55, 55, 80);
  }
  
    
    .screenshot-photo {
      max-width: 700px;
      display: block;
    margin-left: auto;
    margin-right: auto;
    }
  
    h1 {
      letter-spacing: 5px;
      word-spacing: 5px;
      font-size: 200%;
      color:rgb(164, 147, 92);
      text-align: center;
    }
    
    h2 {
      color: #b4a17e;
    }
    
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:rgb(196, 177, 119);
    }

    .labjs11-photo {
      max-width: 700px;
      display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .minor-section {
        padding: 10px;
        margin-bottom: 10px;
        border: solid 1px #5e3434;
        background-color: #794242;
      }
      
      label {
        color: rgb(255, 230, 172);
    }
  