/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
    background-color: rgb(149, 167, 144);
  }
  
  .minor-section {
      padding: 10px;
      margin-bottom: 10px;
      border: solid 1px #ffffff;
      background-color: #b58fa8;
    }
    
    .screenshot-photo {
      max-width: 700px;
      display: block;
    margin-left: auto;
    margin-right: auto;
    }
  
    h1 {
      letter-spacing: 5px;
      word-spacing: 5px;
      font-size: 200%;
      color:rgb(118, 135, 122);
      text-align: center;
    }
    
    h2 {
      color: #655562;
    }
    
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:rgb(114, 96, 116);
    }
    .lab7js-photo {
      max-width: 700px;
      display: block;
    margin-left: auto;
    margin-right: auto;
    }